[2014-12-29 21:58] mareksotak opened #1 "Recognise colons and any other characters that need escaping"
We are not able to recognise selectors which have class/id structure using colons.

example: #test3:foo:bar
which should translate into #test3\3Afoo\3Abar

[2014-12-31 05:10] #1 closed, assigned to fczbkk

[2015-08-20 18:15] dandv opened #2 "Comparison with prior art"
I'm looking for a library to generate unique CSS selectors for DOM elements in an arbitrary page (see [1](http://stackoverflow.com/questions/4588119/get-elements-css-selector-without-element-id/4588287#4588287), [2](http://stackoverflow.com/questions/8588301/how-to-generate-unique-css-selector-for-dom-element), [3](http://stackoverflow.com/questions/2068272/getting-a-jquery-selector-for-an-element

[2015-08-20 18:18] dandv opened #3 "Add package to npm"
https://www.npmjs.com/search?q=selector+generator doesn't produce this package, which seems to be one of the best. Some others I've looked at:

* @martinsbalodis's [css-selector](2)
* @tildeio's https://github.com/tildeio/selector-generator
* @jhartikainen's https://github.com/jhartikainen/dompath (has tests)
* @olivierrr's https://www.npmjs.com/package/selector-query (simple)
* @rishihahs's https

[2015-08-23 05:43] fczbkk commented on #3
https://www.npmjs.com/package/css-selector-generator

[2015-08-23 05:43] #3 closed

[2015-08-23 05:44] fczbkk commented on #2
This is an interesting question. I'll try to do a benchmark to compare various similar libraries.

Here's the list from your other issue (#3):

* @martinsbalodis's [css-selector](2)
* @tildeio's https://github.com/tildeio/selector-generator
* @jhartikainen's https://github.com/jhartikainen/dompath (has tests)
* @olivierrr's https://www.npmjs.com/package/selector-query (simple)
* @rishihahs's https

[2015-08-23 17:37] fczbkk commented on #2
This was fun: https://github.com/fczbkk/css-selector-generator-benchmark

[2015-08-23 17:37] #2 closed

[2015-08-24 20:33] dandv commented on #3
Thanks, starred.

[2015-08-26 01:22] dandv commented on #2
Forgot to mention [Chromium's take on it](https://github.com/fczbkk/css-selector-generator-benchmark/issues/2).

[2015-08-26 17:02] dandv commented on #2
BTW, thanks again for your work on this. I've posted an [answer on this SO question](http://stackoverflow.com/questions/2068272/getting-a-jquery-selector-for-an-element/32218234#32218234), trying to create awareness that generating unique and relatively robust selectors is a non-trivial problem.

[2015-09-10 10:45] dandv opened #6 "More robust selector heuristics - GitHub READMEs example"
Say we wanted a selector for the "How to use" heading in the README of this project. Currently the returned selector is `article > :nth-child(5)`.

That heading though has as a first element a link with a unique id. This `<hX><a id="...">` pattern is pretty common, and an `h2 + #...` selector would be more robust for that case.

Any thoughts on extending the library with a mechanism to take such h

[2015-09-10 11:35] fczbkk commented on #6
@dandv Can you please provide me with a snippet of HTML which produces this selector?

If there is an `id` attribute, the library should use it. The other two cases when it will not use are:

- ID is not unique (thus invalid)
- ID selectors are disabled via the options

[2015-09-10 11:47] dandv commented on #6
The HTML is at https://github.com/fczbkk/css-selector-generator#how-to-use:

[code]

The selector generator behaves correctly; I was wondering if there was room for improvement with heuristics such as "If the element is followed by another element with an id, return a selector like `elem1 + #elem2`".

[2015-09-10 13:02] robinpokorny commented on #6
@dandv CSS does not have a selector to test presence of children elements, sometimes this is called parent selector. It was proposed a few times, although.

For example jQuery has it implemented as `:has()` pseudoclass.

[2015-09-10 13:04] robinpokorny commented on #6
In addition, any selector of the form `h2 + #...` is overqualified, as ID's must be unique.

[2015-09-10 13:10] robinpokorny commented on #6
@dandv I see where the misunderstanding could happen.

You wrote: „If the element is followed by another element with an id, return a selector like elem1 + #elem2“

But `+`, a.k.a. [adjacent sibling selector](https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors), works exactly opposite: „It will select only the specified element that immediately follows the former specified

[2015-09-10 14:59] fczbkk commented on #6
@dandv I have created a fiddle that creates a CSS selector for all elements in your sample: https://jsfiddle.net/fczbkk/4bpqce2y/1/

The selectors seem to be fine. Please, feel free to update the fiddle to simulate your problem.

[2015-09-15 12:27] nbarnwell opened #7 "Add AMD support so I can use this as a RequireJS module"

[2015-09-20 15:31] #7 closed

[2015-09-20 15:33] fczbkk commented on #6
@dandv Can I close this, or is this still an issue for you? If it is still issue, can you please provide me with a way to replicate the problem?

[2015-10-24 07:16] fczbkk commented on #6
Closing due to inactivity. Feel free to reopen this with instructions on how to reproduce the issue.

[2015-10-24 07:16] #6 closed

[2015-10-24 08:53] dandv commented on #6
Correct. This particular issue should stay closed, and I'll see if other examples where smarter selector logic can help will come up.

[2015-12-11 07:45] fczbkk opened #12 "Add support for `nth-of-type` selector"
https://developer.mozilla.org/en-US/docs/Web/CSS/%3Anth-of-type

This could lead to more unique, thus shorter, selectors.

[2016-01-17 06:58] jiangts opened #13 "doesn't work on NYTimes"
Failed on this page: http://www.nytimes.com/2016/01/14/fashion/nest-thermostat-glitch-battery-dies-software-freeze.html

Clicking on the links or the menubar will cause Chrome to run out of memory and display an "Aw, Snap" page.

Not sure what the bug is... I switched to dompath and it worked though.

[2016-03-02 12:32] fivesmallq opened #15 "Attribute css selector test error."
Demo url : https://jsfiddle.net/fivesmallq/amfw7vtm/3/

![image](https://cloud.githubusercontent.com/assets/745063/13460077/342694f4-e0b3-11e5-9e53-4a517ee759b8.png)

In the HTML `querySelectorAll` function, `[width=30%]` is wrong, `[width="30%"]` is right.

https://github.com/fczbkk/css-selector-generator/blob/7624f0b6f2b0124abb667ae424f3c261395faba4/build/css-selector-generator.js#L114

Maybe yo

[2016-03-06 18:58] venkatkarun commented on #13
Fails on http://www1.folha.uol.com.br/poder/2016/03/1746871-oposicao-mira-em-dilma-para-evitar-vitimizacao-de-lula.shtml with "Aw, Snap". optimal-select returned a valid result.

[2016-03-25 19:05] bryanlb opened #16 "Large amount of classes locks up getCombinations"
I'm seeing an issue where a website with a large amount of classes on the `<html>` element causes the `getCombinations` to lock up on the following code:

[code]

In my case, I have 47 classes that are returned by `getAllSelectors`, which I assume are generated by the UI libraries running on the website.

[2016-03-25 19:18] bryanlb commented on #16
Looks like this is probably the same issue as #13 - both of the referenced sites have large amounts of classes on topmost element.

[2016-03-26 07:54] fczbkk commented on #16
@bryanlb Thanks for the analysis. I'll have to dive into combinatorics and find out some more effective way to do this.

[2016-03-27 15:04] rcowin commented on #16
@fczbkk I ran into this with 33 classes - I am restricting items to 6 elements giving me only 64 combinations to work around this. I am sure you are close to a resolution, but with all the tools out there it seems difficult to be smart about class selection (smart attribute selection would be quite a bit easier though).

Perhaps a strategy that uses a combinatorics for the first few (5-7) and then

[2016-04-27 04:49] Jarred-Sumner opened #17 "Unreliable for Ember.js Apps"
Ember has a tendency to add selectors to certain elements that like `#ember1452` (specifically that begin with `ember`). However, these are IDs that do not necessarily reference the same elements on page loads or even when you re-render that element. They are unique, but only to the current rendered instance of the page.

An example of a selector `CssSelectorGenerator` created that breaks after a

[2016-04-27 04:52] #17 closed

[2016-05-20 15:43] tomgallagher opened #18 "Namespaces not considered a valid selector"
Hi

I've come across a problem with namespaced html tags, where `<h:section>` is causing a problem.

Any ideas about where I should be looking in your code to make allowances for namespaces?

Thanks

Tom

[2016-05-20 16:07] tomgallagher commented on #18
Hi

Sorry I forgot to say thanks for CSS Selector Generator, it has saved me a lot of time. I'd done everything previously with XPath and it would have taken me ages to deal with a problem where I needed the CSS selectors instead.

The code seems to be here, line 53 onwards. Seems like the tags need to be sanitized, using the work you've already done for IDs.

`CssSelectorGenerator.prototype.getTa

[2016-05-21 13:20] fczbkk commented on #18
@tomgallagher Thanks for the report. I have created a new build that should work fine with namespaced tags.

[2016-05-21 13:20] #18 closed

[2016-05-23 09:33] abhishek-anand opened #19 "Uncaught TypeError: Cannot read property 'querySelectorAll' of null"
This works fine for most cases but breaks down with an error for some elements with "Uncaught TypeError: Cannot read property 'querySelectorAll' of null"

<img width="1273" alt="screen shot 2016-05-23 at 3 00 31 pm" src="https://cloud.githubusercontent.com/assets/2356550/15466452/58c14cc6-20f7-11e6-9f90-f62eb60eabd3.png">

The error in my case came when using this on this page https://cloud.digita

[2016-05-26 09:19] tomgallagher commented on #18
Hi thanks for sorting this out. I've tested it on the previous problem and it sailed through.

I've got another message of the same type, slightly different problem.:

`Failed to execute 'querySelectorAll' on 'Element': '.12-column' is not a valid selector.`

Is the hyphen an invalid character in CSS selection? If so, is that also in need of being sanitized?

[2016-05-28 11:44] fczbkk commented on #18
@tomgallagher Class name can not start with a number. So `.12-column` is invalid selector. [See this answer at Stack Overflow for details.](http://stackoverflow.com/a/449000/22920)

[2016-05-29 09:26] robinpokorny commented on #18
@fczbkk Just to clarify, `12-column` is a valid class name as essentially every string not including a whitespace is a valid class name. However, the dot shorthand syntax in CSS does not support certain class names. You can still use `[class~="12-column"]`.

[2016-05-31 10:57] tomgallagher commented on #18
So I'm getting this number issue sporadically and it's causing me a few problems. For the time being I've taken the class tag out of the CSS selector generator options. Would it solve the problem to always refer to the class using the longhand `[class~="12column"]` rather than the `.12column`?

[2016-05-31 11:03] tomgallagher commented on #18
So at line 97, you could replace
`results.push("." + (this.sanitizeItem(item)));`

with
`results.push("[class~='" + (this.sanitizeItem(item)) + "']" );`

?

[2016-05-31 12:45] fczbkk commented on #18
@tomgallagher Yes. But that would return attribute selector, instead of class selector. Which means I would have to change some code down the stream, when constructing the whole selector. Also, it would mess with browser compatibilities of generated selectors. So I'd rather not do that now.

[2016-05-31 12:48] tomgallagher commented on #18
OK thanks for taking a look.

[2016-05-31 18:30] vishaltelangre commented on #16
My browser was also running out of memory when I tried to grab the selectors on nytimes website.

Until this is fixed, I am getting rid of the classes added on `HTML` tag with the following condition:

[code]

[2016-06-01 12:07] tomgallagher opened #20 "CSS selector generator silently failing on some sites"
Hi - me again (sorry).

I'm running this bit of code in the console

`document.addEventListener( "mouseover", function(event) { var CSSstring = findCSSPath(event.target); console.log(CSSstring); });`

where the findCSSPath function is just a wrapper for your css selector generator.

On the whole, this works as expected. I've tested it on quite a few sites. However, on

`http://observer.com/`

I'm

[2016-06-06 10:28] tomgallagher commented on #20
I've been doing a bit more digging on this silent failure problem.  It seems like all the problem sites I have encountered show this line in the console on load:

`JQMIGRATE: Migrate is installed, version 1.4.0`

This probably isn't the cause, but it is an indicator that all of the problems I have encountered so far have been with sites that have been put together by WordPress. I'm not familiar wi

[2016-06-06 11:55] fczbkk commented on #20
@tomgallagher Thank you for your research. It seems that these sites use some library that changes some native methods used in the CssSelectorGenerator library. I have seen similar behaviour with PrototypeJS and MooTools (they both implement their own `Array.reduce()`, which works differently than the native implementation). I'm pretty sure this will be something like that.

[2016-06-07 05:09] oddui commented on #20
@fczbkk this is happening to me as well.

In my case there are 45 css classes on an element and `CssSelectorGenerator#getCombinations()` is going crazy and crashes the chrome tab. It needs some algorithm love.

[2016-06-07 09:14] tomgallagher commented on #20
Hi - you probably know this: I've tried the problem sites with the class selector taken out of the options and there's no fails on the four examples I mentioned above.

[2016-06-09 19:56] tomgallagher commented on #20
Hi - I have a more general question related to the above.

I'm not that familiar with CSS selectors. If you know that you're going to be using a modern Chrome browser, which options would you select to be the fastest and most reliable, given the class bloat that seems common these days?

In particular, I'm wondering about the attribute and nth child options. Is there a speed difference? If I just

[2016-06-09 23:11] oddui commented on #20
@tomgallagher i'm not too sure about the speed difference but as the doc says `nth child` is necessary to create a unique CSS selector for every possible element. Note that if you rely too much on `nth child`, a simple change in the elements tree might just break your selector.

[2016-06-10 03:27] fczbkk commented on #20
@tomgallagher As @oddui said, you need `nth-child` selectors to be sure to get unique selector for every element, regardless of situation.

If you are sure you will only be generating selectors for elements that can be targeted using IDs and classes, you can only enable those.

If you want the speed, then only enable `nth-child` selectors. The resulting selectors will be long and ugly. But generat

[2016-06-27 09:15] eazuka commented on #13
@fczbkk Thanks for this awesome css selector generator. Its seem like this issue and issues #16, #20 are facing same problem. Are you close to getting a solution?

[2016-06-29 17:28] fczbkk commented on #13
@eazuka I have some ideas about how to fix this and make the selector generator better, but it would require a larger rewrite of the library. I'd like to do it during the summer.

[2016-09-22 11:51] gebrits opened #21 "possible to create css-selector based covering multiple elements?"
Ideally, I'm looking for a solution where a user can point&click on elements to include / exclude dom-elements and the css-selector is automatically updated. Does css-selector-generator support this underlying broadening/tightening of a selection?

[2016-09-22 15:34] gebrits commented on #21
never mind. looked at code and it does not.

[2016-09-22 15:34] #21 closed

[2017-06-04 17:44] MaharishiCanada opened #22 "Use in Electron"
It will be nice to have some way (or documentation if it is already available)  about how to use this script in Electron . See https://github.com/electron/electron/issues/9664

[2017-06-05 00:13] MaharishiCanada commented on #22
OK, it was easy. I found the way to use this script in a webview tag under Electron.  First, you install css-selector-generator (in my case locally in the cwd dev folder):
[code]
You add the webview tag in the renderer html file:
[code]
Then, in the preloadtest.js script you use:
[code]
The `global.api` variable is used to export the constructor to the webview. Then you use the method `executeJava

[2017-06-05 03:30] MaharishiCanada opened #23 "What is the expected value of `this` in css-selector-generator.js ?"
I am puzzle by the use of  `this` in  css-selector-generator.js.  An anonymous function is called and we fix its context with `.call(this)`.  It seems that the expectation is that the global object will be somehow aliased to the window object. It's the case with Electron. Is it a general convention that you rely upon?

[2017-06-05 17:09] MaharishiCanada commented on #23
Ok, I just looked at the code and I see that the fixed context `this` in the called anonymous function is only the object where the constructor is exported, when `module.exports` (aliased to `exports`) is not defined.  When we use `require`,  `module.exports` is defined and thus we do not care about the value of the parameter `this` in `.call(this)` - it's not used.  Still, I am curious to know wh

[2017-06-15 13:05] fczbkk commented on #23
I assume you are asking about this line:
https://github.com/fczbkk/css-selector-generator/blob/master/src/css-selector-generator.coffee#L224

It either adds `CssSelectorGenerator` property to the `exports` object (if it exists), or to the root object (`this` references `window` in browser and `process` in Node). So it basically either exports the library, or it adds it to the global namespace.

[2017-06-15 13:05] #23 closed

[2017-06-15 13:06] fczbkk commented on #22
I'm sorry, I have no experience with Electron. Hopefully, future explorers will find your answer.

[2017-06-15 13:06] #22 closed

[2017-07-08 16:17] nateweiss opened #24 "Attribute selectors probably should use quotes around the attribute value"
Hi,

First, thanks for this library. I noticed that if you're using the optional 'attribute' selector style, the resulting selector is not quoted, which can lead to some errors if it decides to write a selector such as `a[href=some-page.htm]` or similar.

I've added a modification locally that just adds quotes (so `a[href="some-page.htm"]` or whatever), would you like a Pull Request with that chan

[2017-07-21 12:36] belauzas opened #25 "Exclude some unwanted classes from being used in selector"
Websites that use dynamic content, sometimes also use dynamic classes.
Lets say we have button (e.g. class="btn") and we want to change its background color every second with extra class (e.g. class="btn btn-green") by adding / removing it.
So, because I know "btn-green" class is dynamic, I would like exclude it from being used.

[2017-10-19 19:39] tomgallagher commented on #13
Any updates on the rewrite? I'm still struggling on elements with large numbers of classes. I'd take the classes out as an option but I then have another problem with multiple nth-child selectors elsewhere.

I was thinking that, just getting it to throw an error if it locks up, would enable me to kill it and launch without classes when I absolutely have to. Would you have any suggestions on where

[2018-07-25 14:03] Azwartmaks commented on #13
try do next
[code]

[2018-08-14 03:49] #13 closed

[2018-09-06 01:20] brettz9 opened #27 "ES6"
Looks like a robust library... Might you consider moving from CoffeeScript to ES6, including with ES6 Modules export (I'd recommend Rollup)? Thanks!

[2018-11-06 17:49] null511 commented on #25
I'm facing issues whether tooltips and other tethered elements are being picked up in the selector chain. It would be very useful to be able to define an array of class names that should be excluded from use.

[2019-01-18 13:13] harleytouch opened #36 "CssSelectorGenerator is not defined"
Hi,

I've spent ages trying to solve this problem and wasn't able to figure it out, so I'm posting an issue as a last resort, sorry.

I'm running css-selector-generator on random websites, depending on it being available on the window object.
One website I'm using seems to have "define" already defined, so it never ends up assigning the CssSelectorGenerator to the window object. I'm reluctant to b

[2019-01-20 21:58] #36 closed

[2020-02-05 04:39] tabjsina commented on #18
Resurfacing an old thread, is it possible to do some validation in testSelector/testUniqueness to determine whether the class name is valid as a css selector so those functions can return false rather than causing exception (so that hopefully it could recover and find another unique css selector that is valid)

In both functions, it would change those querySelectorAll lines to something like
[code

[2020-02-09 04:23] fczbkk commented on #18
@tabjsina There's new version (`v2.0.0`) of this library, which does better job of producing valid className selectors. It escapes the class name, so that the resulting selector should be valid even if it contains characters and sequences that are not allowed.

Have a look at the new version. If you still encounter errors or invalid selectors, please create a new issue. Thank you.

[2020-02-09 10:08] tomgallagher commented on #18
That's great. I'll take a look as well. Any chance for a browser build as well as npm?

[2020-02-09 14:46] fczbkk commented on #18
@tomgallagher You can get it at NPM:
https://www.npmjs.com/package/css-selector-generator

[2020-02-10 05:20] tabjsina opened #37 "Failed to execute 'querySelector' on 'Document': '<classname>' is not a valid selector."
Creating a new issue for v2.0.0 (as recommended here: https://github.com/fczbkk/css-selector-generator/issues/18#issuecomment-583803354)

## Problem

I am running into an issue in which class names along the tree contains are invalid for use by selectors. While class selectors do have name restrictions, class names do not, which could lead to errors when the targeted element is a child of an eleme

[2020-02-15 09:53] fczbkk commented on #37
@tabjsina Thank you for your report. The issue should be fixed now. Class names that start with a number will be ignored. Version `2.0.1` of this library contains the fix.

[2020-02-15 09:53] #37 closed

[2020-06-10 06:17] mika-cn opened #40 "Failed to import it in test environment (node)"
[code]

Then I try to import it form source instead from 'build/index.js'.

[code]

I use jsdom to provide a browser like environment. But I didn't expose the window or Document object to global context.

Is it possible to access these global variables by the element that passed to `getCssSelector()`. So there's less global variable dependencies (e.g: using `elem.ownerDocument` to access `Document

[2020-06-11 07:07] fczbkk commented on #40
This is exactly why I hate virtual environments like jsdom. It's fine for testing simple React components. But it falls apart the moment you are trying to do anything more substantial with DOM. It's a Potemkin village.

@mika-cn I have tried to change the code so that it does not ask directly for `document`'s root node, but for `element.ownerDocument`'s root node. Hope it helps. Please update to `

[2020-06-12 08:05] mika-cn commented on #40
I agree with you. It's really hard for these library to implement a DOM like environment. I've found some interface's behavior is different from DOM.

I've tried the new version(`v2.1.0`), it works fine. Nice job and thank you very much.

[2020-06-12 13:34] #40 closed

[2020-06-16 11:39] yyl21 commented on #19
I got the same error. TypeError: Cannot read property 'querySelectorAll' of null

`export function getNthOfTypeSelector (element) {
  const tag = getTagSelector(element)[0];
  const siblings = element.parentElement.querySelectorAll(tag);
  for (let i = 0; i < siblings.length; i++) {
    if (siblings[i] === element) {
      return [`${tag}:nth-of-type(${i + 1})`];
    }
  }
  return [];
}`

Should

[2020-06-18 07:22] fczbkk commented on #19
@yyl21 Thanks for reminding me of this bug.

I have updated the `nth-of-type` selector generator so that it checks for the element's parent existence. It should now not throw an error either when evaluating element outside of a document, or a root element (e.g. `HTML`).

Please update the library to `v2.1.1` to apply this fix.

[2020-06-18 07:22] #19 closed

[2020-07-02 15:52] webpolis commented on #19
This bug still occurs using v2.1.1

Test it here: https://es.wikipedia.org/wiki/Biopel%C3%ADcula

And click on any of the pictures at the bottom.

[2020-07-02 15:54] webpolis opened #41 "Cannot read property 'querySelectorAll' of null"
Using v2.1.1, _Cannot read property 'querySelectorAll' of null_ is thrown on some elements when clicking.

Go to https://es.wikipedia.org/wiki/Biopel%C3%ADcula and click on any of the pictures at the middle of the page on the right. And then on the X (Close) button at top right.

Related to https://github.com/fczbkk/css-selector-generator/issues/19

[2020-07-02 16:12] webpolis commented on #41
Well, I think this has to do with the element being removed right away from the DOM tree on click.

This might help others: when catching events, it worth using the **useCapture** boolean flag in https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener

[2020-07-08 06:07] fczbkk commented on #41
@webpolis Thanks for the report.

I have created `v2.1.2` which should contain a fix for this edge scenario. Attempts to get a selector on parent-less element (this can happen e.g. when element is removed from DOM) should not cause a crash.

I have tested in on the Wikipedia page you linked, I was able to reproduce the problem and it seems to be working after the fix.

[2020-07-08 06:07] #41 closed

[2020-12-01 17:53] ScrapeFlare opened #45 "Support for generating unique selector from multiple elements?"
Is such a feature on the roadmap?

[2020-12-02 06:23] fczbkk commented on #45
@ScrapeFlare I'm not sure I understand what you mean. Can you please give me an example?

[2021-01-24 10:25] distante commented on #27
I think this can now closed #35 @fczbkk ?

[2021-01-24 17:25] fczbkk commented on #27
@distante Thank you for reminding me.

[2021-01-24 17:25] #27 closed

[2021-01-24 18:23] distante opened #48 "Support: How to import it in typescript?"
Sorry I pressed ENTER without notice!

I saw it has typescript definitions but  I can not find the way to imported so the types are recognized. What I am doing for now is declaring the module my sefl with:

[code]

But of course it could break at any time and it does not have and documentation included.

[2021-01-24 20:24] fczbkk commented on #48
@distante I have tried to add explicit path to the type definitions to the "package.json". According to the documentation, it should help:
https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.html#editing-the-packagejson

Please try to upgrade to `v2.1.3` (https://github.com/fczbkk/css-selector-generator/releases/tag/v2.1.3) and let me know, if it works for you.

[2021-01-25 07:00] distante commented on #48
Yes, now it works @fczbkk, thank you!

[2021-01-25 07:00] #48 closed

[2021-02-13 09:36] danschalow opened #50 "feature: Configurable attribute blacklist"
Attributes are currently blacklisted in a non-configurable value:

[code]

The values could be configured in the config object like:

[code]

Default values should be maintained, if no value is set.

[2021-02-13 09:41] danschalow commented on #50
If you're interested in this feature, I would be happy to take care of it myself.

[2021-02-13 12:15] fczbkk commented on #50
Thank you for the suggestion, @danschalow. But this config is private for a reason. It contains a list of attributes that should never be used when constructing an attribute selector. The class and ID are used by their respective selector types. The Angular attributes wreaked havoc in real-life scenarios.

You can easily blacklist the attribute selectors via (the `blacklist` option)[https://github

[2021-02-13 12:21] fczbkk commented on #50
I have expanded the blacklist documentation:
https://github.com/fczbkk/css-selector-generator#blacklist

Let me know if that works for you. Thanks.

[2021-02-13 13:12] danschalow commented on #50
Ah - perfect! That makes sense. Many thanks!

[2021-02-13 13:12] #50 closed

[2021-02-17 14:47] danieltroger opened #51 "Add option to use -nth-child as little as possible"
Hi,

I have the problem that your library falls back to something like this: `:nth-child(11) > :nth-child(2) > :nth-child(1) > :nth-child(9)` but what I need is a selector that goes as far as possible without using :nth-child, i.e. like this one: `div#__next > div.styles__MainContent-ghnxum-0.iIIhTW > div.styles__ContainerRoot-evpclk-2.kowoAH:nth-child(9)` because all the nth-child-numbers change

[2021-02-17 22:51] jribbens commented on #51
I would like this too. Also I would like to be able to say that certain selectors are basically mandatory if they are available. e.g. if a document has only one `<link>` element, then asking for the selector for it just returns `link`, which is no use at all if later on someone adds another link. Having an option something like `mandatory: ["[href]", "[src]"]` to *require* the use of those attribu

[2021-02-17 22:55] jribbens commented on #45
It sounds like they might mean something I would find helpful, which is a way to say "here is a given selector, which matches one or more elements, and also here is a specific one of those elements - please take the existing selector and, if necessary, add to it so that it only matches that one element".

[2021-03-10 19:00] DrShaneBurke opened #56 "Can't find variable: getCssSelector"
I was hoping to get some help to start using this package.  I followed the instructions on the read me page, but when calling the getCssSelector function, I get the following error: Can't find variable: getCssSelector.  Below is the minimally reproducible code.  I am running MacOS 11.2.2 and Safari 14.0.3.  I installed from npm and bundled with browserify, hence the local file reference to 'CSS-Se

[2021-03-10 19:19] fczbkk commented on #56
@DrShaneBurke This library is primarily meant to be used as a dependency via NPM. If you download it and use it directly like that, it's content is wrapped in `CssSelectorGenerator` namespace. So you should use it like this:

[code]

I should mention this in documentation.

[2021-03-10 19:49] DrShaneBurke commented on #56
Thanks so much, I'm new to npm, so helpful to know.  Thank you for the quick response, exited to start using this :)

[2021-03-10 19:49] #56 closed

[2021-03-12 15:36] alexferrari88 commented on #51
+1

[2021-03-15 08:16] fczbkk commented on #45
@jribbens Can you please provide me with an example of what selectors you're trying to get?

[2021-03-15 14:24] jribbens commented on #45
Well perhaps you might say `link[rel=stylesheet]` and indicate a specific one of the link elements, and the module would enhance the selector to say `link[rel=stylesheet][href=main.css]` or something, rather than now where it may return even something as vague as `link` if there is only one link element.

Basically my use case for the module requires thinking across time, as the HTML file may chan

[2021-03-20 13:52] fczbkk commented on #51
Hey guys, I just released `v3.0.0` which tries to use child selectors whenever possible. Please, give it a go. I think it will often produce simpler selectors, which should address this issue.

[2021-03-20 22:54] jribbens commented on #51
Thanks. This does seem better, but it's still tending to come up with overly-short selectors like just `link`, or `.foo` or `[href="bar"]`... for my purposes I'd prefer to require at least two atoms in the selector, e.g. `link[href="baz"]` or `h2.foo` or `a[href="bar"]`.

[2021-04-07 13:52] lilacdev opened #57 "Issues on Facebook"
Hello,

I am trying to use css-selector-generator on various websites through console. If I copy and paste build/index.js files in console, this works great :

`CssSelectorGenerator.getCssSelector($('body'))`
prints "body"

But on Facebook, when I do this, I get an error :
`Uncaught ReferenceError: CssSelectorGenerator is not defined`

I checked window and document objects, and, indeed, neither `C

[2021-04-07 14:34] lilacdev commented on #57
Anyway, I used an extension to inject script. It is working now.

[2021-04-07 14:34] #57 closed

[2021-04-07 15:05] fczbkk commented on #57
Hey @lilacdev, thank you for the report. I am able to replicate it too. It is strange. My guess is that Facebook uses some mechanism to prevent script injection (probably to stop attempts at XSS, scraping, etc.). I'm intrigued and I'll try to investigate further.

[2021-04-07 15:14] lilacdev commented on #57
Indeed, I think it's a protection.
But I am not sure they can do much about protecting without controlling the browser.
I think that forcing window.CssSelectorGenerator attribution should do the trick (didn't had time to look in code source how global variable are managed). But according to my tests, this should do the trick.

[2021-04-07 15:21] lilacdev opened #58 "Feature request : multiple elements as parameters"
Hi again,

Do you think this could be possible to generate a selector from multiple elements ?

For example :
[code]
When we pass element article1 element, this generates `.article1`. (working as this today).

And then, if we pass an array of elements (let's say article1 and article2), this would generate `article`

[2021-04-08 06:07] fczbkk commented on #58
**Short answer:**

No.

**Long answer:**

Yes.

But it would be very complicated and there would be a lot of problems. First problem is, that with single elements, you can always generate a selector (fallback selectors can be ugly `nth-child` child chains, but they work), but there are lots of situations when it's just not possible to create a common selector for multiple elements. Well, maybe wit

[2021-04-08 10:27] lilacdev commented on #58
Thanks for this clarification.

[2021-04-08 10:27] #58 closed

[2021-04-14 16:36] jribbens opened #59 "Doesn't work as a CommonJS module"
[code]

[2021-05-07 14:33] Danroyal001 opened #60 "CssSelectorGenerator escapes the selector string"
CssSelectorGenerator escapes the selector string.

eg.

[code]

instead of

[code]

Is it possible to get the raw (unescaped) selector?

[2021-05-17 22:02] djob opened #61 "Not working as expected with custom HTML elements"
Just tried library on youtube.com and it seems that it doesn't work with custom HTML elements at all.
When trying to get selector for action menu button I got following:
[code]
but it should be something like:
[code]
according to:
![image](https://user-images.githubusercontent.com/818443/118561893-08fbc200-b76c-11eb-8fac-7f5893a318e3.png)

I tried passing several combination of options to  getCssS

[2021-05-18 00:52] HAMPLENI opened #62 "IE 11 Syntax Error"
I get a Syntax Error in IE 11 simply by including the following in my code:

`import getCssSelector from "css-selector-generator";`

The error prevents my page from loading.

I do not get the error in Chrome or Firefox.

[2021-05-25 05:12] fczbkk commented on #62
@HAMPLENI Internet Explorer is an obsolete browser that does not support `import/export` syntax natively. If you want to use it, you have to use a bundler, e.g. [Webpack](https://webpack.js.org/).

[2021-05-25 05:12] #62 closed

[2021-05-25 05:50] fczbkk commented on #61
@djob The selector using `:nth-child()` selectors is fallback selector. This is used when the generator is not able to produce unique selector using other types of selectors. Custom tag names should not be a problem, the library can handle them, even the namespaced ones:
https://github.com/fczbkk/css-selector-generator/blob/master/test/selector-tag.spec.js#L24-L30

[2021-05-25 05:50] #61 closed

[2021-05-25 06:20] djob commented on #61
@fczbkk so basically library is not able to find unique selector from given example?

[2021-05-25 07:57] fczbkk commented on #61
@djob The first selector you posted (the  `nth-child` one) is the unique selector. The library is not able to create a unique selector of given element using tag selectors, because that's probably impossible in this situation.

Imagine this situation:

[code]

There is no way to create a unique CSS selector of first DIV using tag selectors. You can only target it using something like this:

[code]

[2021-06-01 18:04] AfrazHussain commented on #45
If I'm not wrong, I think what they're trying to suggest is a feature like `getMultiSelector([elements])` from the `[optimal-select](https://github.com/autarc/optimal-select)` library, because that is basically what I'm looking for as well.

The reason I don't like using the `optimal-select` library's `getMultiSelector` is because it doesn't honor the options that are passed into the function (iss

[2021-06-02 03:32] fczbkk commented on #45
@AfrazHussain I'm not sure this is the same as what @jribbens describes. Anyway, it is easy to create a function that returns a list of selectors for a list of provided elements. Just use this:

[code]

[2021-06-02 08:56] AfrazHussain commented on #45
@fczbkk Thanks for your reply, and thank you for this library.

From what I understood, the idea isn't to create a list of single unique selectors given an array of elements, but it is rather to create a _single_ selector that would select all of the elements selected.

I'll give you an example, suppose I want to scrape all the item names on [this website](https://webscraper.io/test-sites/e-commer

[2021-06-02 11:15] jribbens commented on #45
I can't speak to what @ScrapeFlare was wanting, but what I'm doing is creating a selector that uniquely identifies a single element on the page, but does so in a way that means we have a decent chance of the selector still indicating that same element even if the page then changes somewhat (e.g. if we come back to the page a month later).

As it stands, if you have, say, only one image on a page t

[2021-06-02 11:27] fczbkk commented on #45
@jribbens Thanks for the explanation, I get it now.

[2021-06-03 16:09] Treora opened #65 "Error when using root option in jsdom"
In the test case below, things work fine until I supply the `root` option. I have not tried whether the same problem occurs in a browser.

[code]

This fails with:

Also, when using some other elements as root, it returns without errors, but the root seems to have been ignored:

[code]
Both of the above return the same value: `':root > :nth-child(2) > :nth-child(1) > :nth-child(2) > :nth-child(1)'

[2021-06-11 09:01] alturkovic opened #66 "[Feature Request]: Chrome Extension"
Any plans to make a Chrome Extension?
Something like @desmondw [snowflake](https://github.com/desmondw/snowflake) would be very useful.
Great job btw!

[2021-08-02 11:00] joealden opened #68 "`3.0.1` Bundle Size Problem"
As shown by https://bundlephobia.com/package/css-selector-generator, the bundle size of version 3.0.1 jumped significantly, this being because of the introduction of polyfills in f0b9d62.

Regarding this:

1. Should polyfilling this not be left up to the consumer, as otherwise, the consumer will be forced to use code they likely don't need to have (for my use case, I don't need any of these polyfi

[2021-08-02 16:18] fczbkk commented on #68
Yeah, you're right. The generators are not even needed. I was trying something and in the end I did it different way.

I will refactor it. Also, I should create separate builds for modern and old JS.

[2021-08-14 18:46] fczbkk commented on #68
I have published `v3.1.0`. Removed all generators and polyfills. The bundle size went down significantly.

[2021-08-14 18:46] #68 closed

[2021-08-14 19:53] joealden commented on #68
@fczbkk thanks!

Quick question, is there a reason that these changes don't exist on the `master` branch yet (which is currently the default branch)? I can see recent (published) changes on the `typescript` branch, but with them not on the default branch, you won't see the recent changes (including the changelog changes) on Github unless you look hard enough.

[2021-08-15 04:57] fczbkk commented on #68
@joealden Yes. The reason is, that I was switched to the other branch and I didn't notice that I'm not in main branch. I have merged it, so now everything should be in a single main branch.

[2021-08-15 20:29] fczbkk commented on #45
I had an idea on how to implement this. It required a lot more of rewrites than I originally thought. But it seems to be working.

Since `v3.2.0` you can use an array of elements as input instead of just single element. The library will produce single selector matching all elements at once if possible, otherwise it will produce selector for each of the elements and join them by comma.

More info i

[2021-08-15 20:29] #45 closed

[2021-08-18 10:20] lilacdev commented on #58
Hi,
I noticed you finally did it, did you ? :)
[code]

[2021-08-18 11:15] lilacdev commented on #65
I can confirm this behaviour. What my tests found when a root element is provided :

- If it is impossible to find a proper selector (with too restrictive selectors option for example), I have a "Failed to execute 'querySelectorAll' on 'Element': '> li' is not a valid selector"
- if it is possible to find a selector, result fallback to an absolute selector and root element is ignored.

[2021-08-18 14:24] fczbkk commented on #58
@lilacdev Yeah, I came up with a way to implement it. It's not perfect and there are several edge cases where it will not work. But it seems to be working fine most of the time. The only thing is, that when it is not possible to find a common selector, it will have to generate standalone selector for each element and just join them.

So, if we will modify your example like this:

[code]

Then the

[2021-08-18 15:18] lilacdev commented on #58
Awesome ! I will test it asap. Thank you. Issue #65 is quite blocking ATM, but if it can help, it was already there before your recent updates.

Thanks again and have a nice day !

[2021-08-18 18:17] fczbkk commented on #65
This issue was not specific to JsDom. It was caused by attempting to test a descendant selector candidate which is direct descendant of root element (which itself has no selector).

It should be fixed now. Please update to `v3.2.1`.

[2021-08-18 18:17] #65 closed

[2021-08-18 18:25] fczbkk commented on #65
@Treora Regarding other problems you mentioned in your report:

The [`window.self`](https://developer.mozilla.org/en-US/docs/Web/API/Window/self) probably does not exist in the environment that you are running your code in (I guess it's Node). This is not the issue of CssSelectorGenerator library, which targets browsers only.

The fallback selector ignores the root defined in the options, because

[2021-08-18 18:35] fczbkk commented on #65
@Treora By the way, check out these instructions on how to add external code (e.g. library) to JsDom. I think it will help you with issues like missing global properties (e.g. `window.self`).
https://github.com/jsdom/jsdom/wiki/Don't-stuff-jsdom-globals-onto-the-Node-global

[2021-08-21 12:57] fczbkk commented on #16
I have added [`maxCombinations`](https://github.com/fczbkk/css-selector-generator#max-combinations) and [`maxCandidates`](https://github.com/fczbkk/css-selector-generator#max-candidates) performance options. These should help to deal with the sites that, for example, use large number of classnames on elements.

[2021-08-21 12:57] #16 closed

[2021-08-21 12:59] fczbkk commented on #20
I have added [`maxCombinations`](https://github.com/fczbkk/css-selector-generator#max-combinations) and [`maxCandidates`](https://github.com/fczbkk/css-selector-generator#max-candidates) performance options. These should help to deal with the sites that, for example, use large number of classnames on elements.

[2021-08-21 12:59] #20 closed

[2021-08-21 18:23] fczbkk commented on #59
This library is intended for browser use. There's no reason to use it in Node, because there are no elements.

If you are trying to use this library with some virtual DOM library, you'll have to add it to the virtual `window` object instead of directly requiring it into the Node process. Here's an example for JSDOM:

https://github.com/jsdom/jsdom/wiki/Don't-stuff-jsdom-globals-onto-the-Node-globa

[2021-08-21 18:23] #59 closed

[2021-08-23 23:32] roniemartinez opened #77 "Convert to [attribute] without value"
Very cool project! 💯

Is it possible to further simplify the selectors if the attribute values are different? For example the output below:

[code]

Can be simplified even more like this:

[code]

You can replicate this as these are just title links from Google Search page.

[2021-08-24 02:36] fczbkk commented on #77
@roniemartinez Thanks to the suggestion. The library should now (since `v3.4.0`) prefer simplified attribute selector, if possible.

[2021-08-24 02:36] #77 closed

[2021-08-24 07:01] roniemartinez commented on #77
@fczbkk Thank you for the very fast work.

However shouldn't it return the simplified selector for the test below because the attribute `aaa` is common to both? Or is there a way to force the use of the simplified selector?

[code]

[2021-08-24 07:34] roniemartinez commented on #77
@fczbkk I understand now that the unit test that you did was for the unique element. Please ignore my previous assumption on the said unit test.

I think if there are multiple elements passed to `getCssSelector()`, it should give me the intended behavior as below.

[code]

[2021-08-24 08:45] lilacdev commented on #65
Hi @fczbkk ,

Still have issue. I checked versions, and it appears that we are in 3.4.0 and not 3.2.1. Is this ok ?

I forced update anyway, and issue still occurs. You can test it here with those elements :
`http://histo.io`
root element is first occurence of `nav > ul > li > ul` .
Then trying to get selector for any chiled `a` element, but it returns full path (I use blacklist `['[href=*]', '[sr

[2021-08-24 08:53] fczbkk commented on #77
@roniemartinez I have added test specifically for this: https://github.com/fczbkk/css-selector-generator/blob/52acfa7ed7b687cdaa19d9292372e4e530352593/test/selector-attribute.spec.js#L95-L102

[2021-08-24 09:02] fczbkk commented on #65
@lilacdev Can you please open a standalone issue for this and include specific instructions how to replicate this problem? Even better, if you could create a minimal isolated test case. Thank you.

[2021-08-24 09:03] lilacdev commented on #65
Of course, I was writing piece of code to reproduce it :).

[2021-08-24 09:11] lilacdev opened #78 "Root element ignored in options, full path returned"
Context page : `http://histo.io`

Code to execute in order to test it (x = 165, y = 305):

[code]

[2021-08-24 09:13] lilacdev commented on #78
I have to add that result could "almost" work with only this part of selector `:nth-child(5) > :nth-child(1)`. A better one could be `:nth-child(5) > a`.

[2021-08-24 09:13] fczbkk commented on #78
@lilacdev What selector do you expect to be a result of this?

[2021-08-24 09:39] roniemartinez commented on #77
@fczbkk I see but I gave it a go and the results are still not what is intended.

Is it because of this scenario?
- There are 10 `<div aaa="<random>"></div`
- Only pass any 2 items of those divs to `getCssSelector()`

[2021-08-24 09:55] rikifridrich-outreach commented on #77
@roniemartinez Yes, exactly. The resulting CSS selector from `getCssSelector()` must always **uniquely** match only target element(s).

[2021-08-24 09:56] fczbkk commented on #77
@roniemartinez Yes, exactly. The resulting CSS selector from `getCssSelector()` must always **uniquely** match only target element(s).

[2021-08-24 10:00] roniemartinez commented on #77
@fczbkk Gotcha. I was hoping there could be a way to force it to get the simplified selector just from 2 or more samples?

Think of the same behavior as SelectorGadget? Maybe we can add an option to allow it?

[2021-08-24 10:30] fczbkk commented on #77
@roniemartinez I have checked the SelectorGadget. It is a UI tool for iterative building of a selector that matches multiple elements. I think you are looking for a functionality that is out of scope for this library. Something like that could probably be built on top of this library. But it was from the beginning created to produce selectors that are not fuzzy.

[2021-08-24 10:40] roniemartinez commented on #77
@fczbkk Thanks for looking into this issue.

[2021-08-25 06:56] fczbkk commented on #78
@lilacdev This was caused by a combination of two bugs:

- descendant selectors were never tried except when producing fallback selector
- root element was considered when generating selector candidates, but ignored during final testing of selector validity

Both issues should are fixed in `v3.4.1`. Please update and it should work correctly.

[2021-08-25 10:24] lilacdev commented on #78
Thanks for quick reply. Unfortunately error still here (I doubled checked I was using version 3.4.1).

[2021-08-25 20:33] roniemartinez opened #80 "[Feature Request] Grouping Similar Elements"
When a very different element is added to a group of very similar elements, the result tends to become the fallback instead of "grouping" similar elements. For example below, the simplest selector is `[aaa], [ddd]`. Regardless of the arrangements of the children, the selector should still be the same.

[code]

Output:
[code]

[2021-08-31 20:11] roniemartinez commented on #60
I second this, the generated CSS is not a valid selector, especially with colon (`:`) which is cannot be unescaped.

[code]

[2021-09-07 04:02] ducwp opened #89 "Get selector for multiple items"
[code]

I want to get: `ul.nav-bar > li.nav-item > a.nav` when I click on any a tag.

How to do it?

Thanks

[2021-09-07 06:02] fczbkk commented on #12
The `nth-of-type` selector was implemented some time ago:
https://github.com/fczbkk/css-selector-generator#selector-types

[2021-09-07 06:02] #12 closed

[2021-09-07 06:05] fczbkk commented on #89
@ducwp Looks like you are looking for a interactive selector builder. Something like (SelectorGadget)[https://selectorgadget.com/].

[2021-09-07 06:07] #89 closed

[2021-09-07 11:34] fczbkk commented on #15
The attribute selectors should now be properly quoted and escaped:
https://github.com/fczbkk/css-selector-generator/blob/master/test/selector-attribute.spec.js#L104-L108

[2021-09-07 11:34] #15 closed

[2021-09-07 11:40] fczbkk commented on #51
@jribbens I'm closing this issue. What you describe in your comments seem to be out of scope of the original issue.

If what you describe still a thing for you, please open a new issue and describe in more detail how it should work and how the library should know when to add unnecessary parts of the selector. Thank you.

[2021-09-07 11:40] #51 closed

[2021-09-07 11:59] fczbkk commented on #60
@Danroyal001, @roniemartinez, can you please elaborate in more detail what you mean by your request?

I have checked the specification for attribute selectors:
https://www.w3.org/TR/selectors/#attribute-representation

The attribute selector's value should be a string token:
https://www.w3.org/TR/css-syntax-3/#typedef-string-token

Content of string tokens should be escaped. This diagram really he

[2021-09-07 12:53] roniemartinez commented on #60
@fczbkk I mean, for me, the generated selector is valid even if it is escaped but not colon and I have to do `replaceAll()` to make it a valid one:

[code]

`querySelector()` or jQuery is not accepting the generated selector for colon.

[2021-09-07 13:14] fczbkk commented on #60
I see. So the escaping itself is not a problem. It's the way the colon character is escaped.

I have checked the code. There is special sequence used for colon. I think it's for compatibility with old browsers. But I'm not sure, I wrote that part very long ago.

I'll investigate. But I think I will replace the whole escaping logic with `CSS.escape`.

[2021-09-08 02:05] fczbkk commented on #60
The old versions used escaping mechanism that was created to work with old versions of IE. The new version `v3.4.3` uses `CSS.escape()` instead. So there should be no longer special escape sequence used for colon.

[2021-09-08 02:05] #60 closed

[2021-09-12 16:03] hananmalka opened #91 "Use this amazing functionality in playwright testing tool"
Hi,

I'm trying to integrate this library with playwright.
I tried to integrate it using addScriptTag (https://playwright.dev/docs/api/class-page#page-add-script-tag)

With all options:
[code]

And

[code]

And

[code]

None of them works for me.

I would appreciate any assistant with it.

[2021-09-12 18:00] fczbkk commented on #91
Hey @hananmalka. I don't have any previous experience with Playwright, so I may be wrong. But after few minutes of playing with it, this seems to be working fine for me:

# package.json

[code]

# tests/cssSelectorGenerator.js

[code]

[2021-09-12 18:00] #91 closed

[2021-09-30 16:16] reicolina commented on #66
I wouldn't mind volunteering to work on the extension if that's something that would benefit the community (a realistic use case) @fczbkk, any thoughts?

[2021-10-03 16:02] fczbkk commented on #66
What should the extension do?

[2021-10-03 20:05] reicolina commented on #66
If it is anything like https://github.com/desmondw/snowflake then I would imagine that the CSS selector will be copied to the clipboard when the user clicks on an element while the extension is turned on.

@alturkovic, any comments?

[2021-10-03 21:00] alturkovic commented on #66
Exactly what I was thinking about, thanks for clarifying 😄

[2021-10-04 02:48] fczbkk commented on #66
Yeah, ok. I should have been more specific. Let me explain:

- What would be a use case?
- Who would be a target audience?

For example, if the target audience is non-technical users, who for some reason need to generate CSS selector, then it should work exactly as Snowflake. No options, no complicated UI, just click somewhere and the selector for topmost clicked element is copied to clipboard. Bu

[2021-10-04 08:09] alturkovic commented on #66
My target audience are people who are not very technically proficient but are still somewhat technical. They are a support team that needs to frequently configure CSS selectors for our product. They usually need to do exactly what you said, open the inspector and find the element they need to setup, but it is usually very long and very specific and error-prone.

Having a Chrome extension that they

[2021-10-14 04:03] marktamis commented on #66
The main user case i would say is to rapidly find unique selectors for ui test automation, such as for selenium, puppeteer, playwright etc

[2021-11-03 02:54] mika-cn opened #136 "Can't use sanitizeSelectorItem anymore in version 3.4.4"
I currently use version 2.1.0 and trying to upgrate to the latest version. In latest version the `sanitizeSelectorItem` function is not exported anymore.

The code i'm using is:

[code]

That file (src/utilities-selectors.js) has become a Type Script file which I can't import anymore.

[2021-11-03 04:15] fczbkk commented on #136
Hey @mika-cn. That was an internal utility function and it was not supposed to be used like that.

You should use browser's native method `CSS.escape()`:
https://developer.mozilla.org/en-US/docs/Web/API/CSS/escape

If you need to support legacy browsers, you can use this polyfill:
https://github.com/mathiasbynens/CSS.escape/blob/master/css.escape.js

[2021-11-03 04:15] #136 closed

[2021-11-03 05:03] fczbkk commented on #66
Progress update: I created a prototype. It seems to be working fine. Now I need to add some usable UI for this.

![css-selector-generator-extension-preview mov](https://user-images.githubusercontent.com/43734/140012020-0cf95829-63dc-4c55-ad09-9b576def1cc3.gif)

[2021-11-03 05:53] mika-cn commented on #136
Thank you for the really helpful reply. It seems like a better way to rely on browser's APIs. I'll try it.

[2021-12-12 11:43] fregante opened #162 "No Service Worker support"
I'm loading this library in a service worker and it fails to run because it attempts to use `document` even if it's getCssSelector isn't called.

I think the library should not expect these globals before it's called.

The same happens if I try to run `build/index.js` in node (just as a test), except it complains about `self`

Can changes be made so the module doesn't break the rest of the app by

[2021-12-12 11:44] fregante commented on #162
I think this is the culprit:

https://github.com/fczbkk/css-selector-generator/blob/37466d5b3798f0a6981e760babeced69e3a45e4a/src/utilities-options.ts#L22

[2021-12-12 14:52] fczbkk commented on #162
Thanks for the bug report @fregante. I have created a pre-patch version `v3.4.5-0`, that should potentially solve the problem. It removes all references to the `document` object:
https://www.npmjs.com/package/css-selector-generator/v/3.4.5-0

Can you please check if it works for you, before I create official patch build of the library?

[2021-12-12 17:39] fregante commented on #162
Thanks! It appears to have fixed it in service workers, but:

### Node still can't run the bundle

… because (I think) webpack is injecting the keyword `self` in it. You can find the keyword here but not on the repo: https://www.unpkg.com/css-selector-generator@3.4.5-0/build/index.js

Maybe updating webpack or reconfiguring it will fix it

### TypeScript is throwing errors

...with 3.4.5-0, but ma

[2021-12-15 17:29] fczbkk commented on #162
Hey @fregante, can you please try `v3.4.6-0`?

I have reorganised the project a bit and added an ESM version. The UMD code generated by Webpack contains references to `self`. I don't want to convert the original UMD build, because that would be a major breaking change.

You should be able to use the ESM version like this:

[code]

[2021-12-15 17:58] fregante commented on #162
Watch out, `exports` itself is a breaking change because it allows **only** what's listed in it.

The regular old export is now broken. This is the webpack error:

[code]

Types are also not found on the `/esm` export:

[code]

If you want to try it locally, either set a simple webpack/typescript build or you can check out this repository https://github.com/pixiebrix/pixiebrix-extension and use `n

[2021-12-15 17:59] fregante commented on #162
No .d.ts files:
https://www.unpkg.com/browse/css-selector-generator@3.4.6-0/esm/

[2021-12-16 03:52] nxvinh222 opened #166 "Uncaught TypeError: _modules_selector_gen_index__WEBPACK_IMPORTED_MODULE_1___default(...).getCssSelector is not a function"
I'm trying to import this library into my script using :
`import CssSelectorGenerator from './modules/selector-gen/index';`
(I copied index file from build folder)
But it seem like not working at all. For some reason I cannot use npm, anyone ever did this before? Any help would be appreciated.
![image](https://user-images.githubusercontent.com/35555098/146305129-3c6aebf6-678f-4dc3-9c30-7b257428e84

[2021-12-16 03:57] #166 closed

[2021-12-21 22:12] fczbkk commented on #162
Hey @fregante, I have just published `v3.5.0`. It should be fully backwards compatible, but it also contains ESM build. You can use it by importing it like this:

[code]

Both UMD and ESM version should contain type definitions. I have tested using both versions using Webpack and EsBuild. Everything seemed to be working fine.

I'm closing the issue. Feel free to reopen it if you encounter any prob

[2021-12-21 22:12] #162 closed

[2022-01-01 10:58] niranjan94 opened #173 "In Shadow DOM & custom root Fallback selector is used when a better selector is available"
The test page

[code]

### Test cases:

#### 1. Element outside the shadow DOM (Works)

[code]

Returns `#shadow-host`  ✅

#### 2. Element inside the shadow DOM with the shadow root as the custom root (Works)

[code]

Returns `p`  ✅

#### 3. Another shadow host in shadow DOM with the shadow root as the custom root (Fails)

[code]

Returns `:root > :nth-child(1) > :nth-child(2)` ❌
Expected `#nested

[2022-01-01 11:08] niranjan94 opened #174 "[Feature request] Ability to prioritize certain attributes over keeping the selectors as short as possible."
Related comments about a similar feature request by @jribbens : https://github.com/fczbkk/css-selector-generator/issues/51#issuecomment-780907007, https://github.com/fczbkk/css-selector-generator/issues/51#issuecomment-803474975

---

#### The problem

Currently the library tries to generate selectors that are unique and as a short as possible. Which is great in most cases, but sometimes in a chan

[2022-01-02 16:07] fczbkk commented on #173
Hey @niranjan94, thanks for the report.

This is an interesting situation. If the root node is not defined, I was using the `:root` element of the current document. But in case of Shadow DOM elements, that will never find any valid selector, because they can only be selected within the shadow root node. That's why it was always returning a fallback selector.

I have changed the root finding functi

[2022-01-02 16:07] #173 closed

[2022-01-03 07:03] niranjan94 commented on #173
@fczbkk thank you for the super-fast response and fix. 😄
While this fix does improve support for Shadow DOM, doesn't fix the original issue. I have raised a draft PR with the failing case as a test case. https://github.com/fczbkk/css-selector-generator/pull/175

[2022-01-10 12:41] fczbkk commented on #173
Hey @niranjan94, I finally found out the problem. Previous changes to accommodate ShadowDOM worked fine. But there was a bug with ID selector. It was still checking against document root, even if the element was inside shadow root.

This should be fixed in `v3.5.2`.

[2022-01-10 13:00] niranjan94 commented on #173
@fczbkk thanks for the fix 😄 I can confirm this works as expected now

[2022-01-15 18:28] xblanc33 commented on #48
Hi,

I have an issue with TypeScript type check but only with the selectors option
[code]
TypeScript considers "id" as a string and not as a CssSelectorType.

Now if I try
[code]

It tells me that this type is not exported in the module (index.d.ts), which is true.

Can you help me ?

[2022-01-15 21:19] fczbkk commented on #48
Hey @xblanc33, thanks for the report. You're right, the type of "selectors" property in options was set to an enum, which was not exported publicly. I have updated it so that it allows one of these strings:
`"id" | "class" | "tag" | "attribute" | "nthchild" | "nthoftype"`

Update to `v3.5.3` and it should be typed correctly.

[2022-01-16 17:00] xblanc33 opened #183 "RegExp flags are removed"
convertMatchListToRegExp() removes all flags as it uses the RegExp.source property (see utilities-data.ts line 47)

Not so easy to define what should be the correct behavior but I would advocate that the 'i' flag is very useful ;)
BTW the 'g' flag is not useful as css-selector-generator only tests the RegExp..

Why not setting a 'i' flag if at least one of the RegExp of the list defines it ?

I ca

[2022-01-16 23:50] fczbkk commented on #183
Hey @xblanc33, thanks for the report. The RegExp patterns should be fixed now so that they will respect provided flags. Please update to `v3.5.4`.

[2022-01-16 23:50] #183 closed

[2022-01-17 06:47] xblanc33 commented on #183
Great using some is what I was thinking of.
Is it faster than creating one main big RegExp expression ?

[2022-01-17 07:50] fczbkk commented on #183
It is not possible to create a single RegExp that will use different flags for parts of the expression. So that's not even an option. Anyway, I don't think it really matters in this case, as the volume of checked items is quite small. So the performance in common situations should be practically the same (almost zero).

[2022-02-19 06:42] fregante opened #212 "Allow custom filter functions as blacklist/whitelist"
The selector filters only accept regexes and strings:

https://github.com/fczbkk/css-selector-generator/blob/3c5b2c2ad536e246a9cf5798891d48e9db2b9424/src/utilities-options.ts#L19-L20
https://github.com/fczbkk/css-selector-generator/blob/3c5b2c2ad536e246a9cf5798891d48e9db2b9424/src/types.ts#L4

Would you accept a PR to add support for functions? Example:

[code]

[2022-02-19 06:53] fregante opened #213 "Detect and exclude random selectors"
With more and more websites using CSS modules, `[css-selector-generator](https://github.com/fczbkk/css-selector-generator)` often generates fickle selectors that are only valid until the next deployment.

Would it be possible to automatically detect and exclude these selectors, optionally?

<img width="140" alt="Screen Shot 15" src="https://user-images.githubusercontent.com/1402241/154790124-a7b44

[2022-02-21 08:40] fczbkk commented on #212
Hey @fregante, thanks for the suggestion and for the pull request. In the end, I did not use your pull request, because I wanted to implement it in a slightly different way and I also wanted to add more tests and update documentation.

I have generated `v3.6.0`, which includes this feature. See:
https://www.npmjs.com/package/css-selector-generator/v/3.6.0#blacklist

[2022-02-21 08:40] #212 closed

[2022-03-08 08:49] zicsus opened #229 "Failed to load source map warning in production build"
I'm using this library in my chrome extension, and it looks like it uses source maps in the production build for some reason.

Here is the warning-
![cssselector](https://user-images.githubusercontent.com/31795543/157200775-838eca2f-28c0-4c71-9e4c-ad4d5645590e.PNG)

This looks like a recent issue as I didn't experience this before as far as I remember, but I might be wrong.

[2022-03-08 17:01] fczbkk commented on #229
Hey @zicsus. Please provide me with more info. How are you using this library in your extension? Do you use some build system, or do you just copy files into it?

[2022-03-08 17:10] zicsus commented on #229
Hi @fczbkk, Thanks for responding!

I use gulp and Webpack and using simple `import getCssSelector from 'css-selector-generator';`

I'm using version 3.6.0

[2022-03-08 18:12] fczbkk commented on #229
@zicsus I have created a repo with the most basic Webpack config:
https://github.com/fczbkk/css-selector-generator-with-webpack

It looks like it is working fine. After I build the source code (`npm run build`), the generated file (see `/build` directory) does not produce any errors or warnings.

Can you please share your Webpack config, so that I can reproduce your problem? Or you can do a pull r

[2022-03-08 18:20] zicsus commented on #229
Hi,

I use Extension CLI for my extension- https://github.com/zicsus/extension-cli
Here is the file that is used for building the extension- https://github.com/zicsus/extension-cli/blob/master/config/gulpfile.js

Thanks!

[2022-03-08 18:31] fczbkk commented on #229
@zicsus Ok, so that's the tool you use. But I have no idea how your project looks like and thus no way to replicate your issue.

My guess is that this tool just copies the JS files of CssSelectorGenerator library and skips the source map files. But that's just a guess. I can't do more until I have a way to replicate the issue.

[2022-03-10 08:07] zicsus commented on #229
Hey @fczbkk, I found out the issue!
Some problem with my config.

Sorry for the inconvenience! :(

[2022-03-10 08:07] #229 closed

[2022-03-11 04:04] fczbkk commented on #229
@zicsus I'm glad to hear you've been able to resolve this. Would you mind sharing what was wrong, in case someone else has similar problem in the future?

[2022-04-28 02:30] yamashita-tutorial-tomoya opened #262 "Cannot use selectors containing attribute"
An invalid selector string containing attribute is created for the following elements.

[code]

The effect of CSS.escape() will return the following string for elements where value is a number.
It cannot be queried with document.querySelector and returns null.

[code]

I can make the PR if your want to.

Regards

[2022-04-29 13:41] fczbkk commented on #262
Nice catch @yamashita-tutorial-tomoya.

According to specification, attribute selector value has to be `ident-token`. That means it can not start with a number.
https://drafts.csswg.org/css-syntax-3/#typedef-ident-token

I'd say that the value of an `<input />` element should not be used in attribute selector. And I think same should go for `<option />`. I will add a condition that will reject the

[2022-04-29 13:55] #262 closed

[2022-04-29 13:58] fczbkk commented on #262
Released `v3.6.1` which should fix this issue.
https://www.npmjs.com/package/css-selector-generator/v/3.6.1

[2022-05-10 12:22] alturkovic commented on #66
Did you make any further progress on this?

[2022-05-14 10:37] Pirikara opened #274 "Infinite loops occur at some sites when creating selector strings"
Although not often the case, the Array.from method is occasionally overridden on sites for Internet Explorer.
This is because Array.from is not supported in Internet Explorer.

When trying to get a selector at that site, the getPowerSet method defined in utilities-powerset.ts sometimes causes an infinite loop.

This is due to the fact that the return value of the generateOffsets method in the same

[2022-05-14 11:03] fczbkk commented on #274
Hey @Pirikara, thanks for the report. I understand the issue and it would be easy to do the workaround. But I'm not going to do it.

I've been dealing with this crap for 20 years. Writing polyfills, hacking IE and tiptoeing around libraries that are mutating native objects. This is triggering PTSD for me.

IE is dead and native object mutating is a bad practice. It's time to stop this madness.

I

[2022-05-14 11:03] #274 closed

[2022-05-24 07:42] fregante opened #282 "ESM package is invalid"
Package.json mentions that this is an Node ES module:

https://github.com/fczbkk/css-selector-generator/blob/d72f6ffe61b8874b46b6424d4d5131295712103b/package.json#L8

But ESM requires file extensions, which are missing:

https://github.com/fczbkk/css-selector-generator/blob/d72f6ffe61b8874b46b6424d4d5131295712103b/src/index.ts#L1

Additionally, your `.` import actually point to the non-ESM version

[2022-05-24 07:44] fregante commented on #282
To resolve this quickly:

- remove `type: module`

To resolve it properly:

- good luck 😅
- point `export['.'] to the ESM file
- use `.cjs` for the CJS files or place a new `cjs/package.json` with `type: commonjs` to override the root package.json

[2022-06-09 06:11] fregante commented on #262
I don’t think this is the correct fix, `[value="9659985"]` works. I think `CSS.escape` should not be run on attribute selectors, I think you only need to escape the specific quote you're using to wrap the value.

[2022-07-09 13:14] fczbkk commented on #213
@fregante You can use blacklist to filter these selectors:
https://github.com/fczbkk/css-selector-generator#blacklist

I already filter Angular attributes when generating attribute selectors:
https://github.com/fczbkk/css-selector-generator/blob/f9eece2856fca7125d34ffc09b85a2ca78758173/src/selector-attribute.ts#L12-L13

I'm not sure about hard-coding patterns for classnames like these into the lib

[2022-07-09 13:16] fczbkk commented on #282
@fregante Thank you for reporting this. I'll look into it.

The `esm-lint.yml` is a neat idea. Thanks for the tip.

[2022-08-01 18:05] fczbkk commented on #282
I think I got it!
https://github.com/fczbkk/css-selector-generator/actions/runs/2776836250

[2022-08-01 18:12] fregante commented on #282
Great! Keep in mind that `type: module` is a Node setting, so if Node doesn't work (which it doesn't in your tests), then it should still be removed.

[2022-08-01 18:22] fregante commented on #282
Node is telling you here: https://github.com/fczbkk/css-selector-generator/runs/7599538534?check_suite_focus=true

Node ES Modules **must** have extensions, but this package doesn't. The only reason why all the bundlers work is because of years of "compat" layers.

- https://nodejs.org/dist/latest-v14.x/docs/api/esm.html#esm_mandatory_file_extensions

This package is specifying `type: module` with

[2022-08-01 20:30] fczbkk commented on #282
I must really be missing something. The file extensions are there, the project and build is setup according to TS documentation:
https://www.typescriptlang.org/docs/handbook/esm-node.html

So if there's still something not working, then ¯\_(ツ)_/¯

[2022-08-02 02:00] fregante commented on #282
Indeed I see the extensions in the latest build, but the ESM folder still contains `require` 😅

https://unpkg.com/browse/css-selector-generator@3.6.3/esm/index.js

If you re-enable the Node job in the import-lint it might tell you about more issues. At the very least this should throw the error "REQUIRE OF ESM FILE"

[2022-08-16 13:26] joealden opened #326 "Export Not Found by Webpack"
When upgrading from `3.6.1` to `3.6.3`, webpack now throws an error when trying to import both a named and default import:

[code]

Any ideas?

[2022-08-17 15:59] fczbkk commented on #326
Hey @joealden. I have just created `css-selector-generator@3.6.4` which should fix this issue.

Hope it helps. Feel free to reopen the issue with more details if it is still broken for you.

[2022-08-17 15:59] #326 closed

[2022-08-17 16:00] fczbkk commented on #282
@fregante I have just released `css-selector-generator@3.6.4` which should finally do the dual mode correctly. Fingers crossed. Please let me know if it works for you.

[2022-08-17 17:00] fregante commented on #282
All the issues seems to have been fixed in the package 🎉
I'll let you know on the next update cycle 👍

[2022-08-17 17:00] #282 closed

[2022-08-17 17:31] fczbkk commented on #282
![Finally!](https://media.giphy.com/media/dsGcvvBPzXJ9KSnLPg/giphy.gif)

[2022-09-27 07:48] jcforest opened #350 "Does element selectors like `>, +, ~ ` are working?"
I want to query selectors with `>, +, ~` selectors because sometimes it provides shorter selector.
How can I pass above selectors to selectors list?

[2022-10-16 10:18] fczbkk commented on #350
Hey @jcforest, thanks for the question.

The library uses the [child combinator](https://developer.mozilla.org/en-US/docs/Web/CSS/Child_combinator) `>` for fallback selectors, as it is the only way to ensure unique selector for otherwise unidentifiable elements. It will also use it when generating candidate selectors, but to be honest, these are rarely used, because there are usually better candid

[2022-10-16 10:18] #350 closed